body {
    background-color: rgba(34, 34, 34, 0.1); /* Color de fondo con transparencia */
    background-image: linear-gradient(45deg, #000, brown); /* Gradiente lineal */
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 70px;
    margin-bottom: 140px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

#display {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 1.5rem;
    width: 300px;
    margin: 0 auto;
}

audio {
    display: none;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.row:not(:last-child) {
    margin-bottom: 20px;
}

.drum-machine {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto 30px;
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pad-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drum-pad {
    width: 100px;
    height: 100px;
    background-color: #666;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.drum-pad:hover {
    background-color: #777;
    border-color: #000;
}

#footer {
    margin-top: 50px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

#footer a {
    color: white;
    text-decoration: none;
}
